@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

* {
	font-family: 'JetBrains Mono';
	transition: opacity 0.2s;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(./assets/image.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	min-height: 100vh;
}

.block-center {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #ffffff;
	padding: 40px 60px;
	border: solid #00000000 0px;
	border-radius: 20px;
	backdrop-filter: blur(4px);
	font-size: 20px;
	line-height: 40px;
	transition: background 0.4s;
}

.block-center:hover {
	background-color: #ffffff10;
}

.socialbtn {
	height: 40px;
	width: 40px;
	background-size: 100%;
	cursor: pointer;
	max-height: 40px;
	background-position: center;
	background-repeat: no-repeat;
}

.socialbtn:hover {
	opacity: 50%;
}

.Github-btn {
	background-image: url(./assets/Github-mark-white.svg);
}

.Instagram-btn {
	background-image: url(./assets/Instagram_Glyph_White.svg);
	transform: translateY(1px);
}

.Discord-btn {
	background-image: url(./assets/Discord_icon_clyde_white_RGB.svg);
	transform: translateY(2px);
}

.Twitter-btn {
	background-image: url(./assets/Twitter_icon_white.svg);
}

.link {
	display: inline-block;
}

/* Tooltip: https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	opacity: 0%;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 0 0;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	font-size: 16px;
}

.Instagram-link .tooltiptext {
	width: 110px;
	margin-left: -55px;
}

.Github-link .tooltiptext {
	width: 80px;
	margin-left: -40px;
}

.Discord-link .tooltiptext {
	width: 110px;
	margin-left: -56px;
}

.Twitter-link .tooltiptext {
	width: 90px;
	margin-left: -45px;
}

.tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
	opacity: 100%;
}

.br {
	margin-top: 40px; /* change this to whatever height you want it */
}

.cursorbg {
	position: fixed;
	backdrop-filter: invert(100%);
	border-radius: 20px;
	height: 40px;
	width: 40px;
	pointer-events: none;
	display: none;
	transition: width 0.2s, height 0.2s;
}
